.App {
  text-align: center;
}

.rotate {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.blinking-cursor {
  font-weight: 100;
  color: white;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.whitelink {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
